.services-grid > div {
  border-bottom: 1px solid $gray-200;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.services-grid > div:last-child {
  border-bottom: 0;
}

@include media-breakpoint-up(md) {
  .services-grid > div:nth-child(odd) {
    border-right: 1px solid $gray-200;
    padding-right: 1.5em;
  }
  .services-grid > div:nth-child(even) {
    padding-left: 1.5em;
  }
  .services-grid > div:nth-last-child(2) {
    border-bottom: 0;
  }
}

@include media-breakpoint-up(md) {
  .nav-link {
    border-top: 3px solid white;
    padding-top: 1em;
  }

  .nav-link.active {
    border-top: 3px solid $red;
  }

  .navbar {
    padding-top: 0;
  }
}

.jumbotron__home {
  background-image: url('/img/home/hero-geneve.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
