.services-grid > div {
  border-bottom: 1px solid $gray-lighter;
  padding-top: 24px;
  padding-bottom: 24px;
}

.services-grid > div:last-child {
  border-bottom: 0;
}

@include media-breakpoint-up(md) {
  .services-grid > div:nth-child(odd) {
    border-right: 1px solid $gray-lighter;
  }
}

@include media-breakpoint-up(md) {
  .nav-link {
    border-top: 3px solid white;
    padding-top: 1em;
  }

  .nav-link.active {
    border-top: 3px solid $red;
  }

  .navbar {
    padding-top: 0;
  }
}
